scan_to_scan_filter_chain:
  ros__parameters:
    use_sim_time: false
    filter_chain:
      - name: "range"
        type: "laser_filters/LaserScanRangeFilter"
        params:
          lower_threshold: 0.2
          upper_threshold: 8.0
          lower_replacement_value: .nan
          upper_replacement_value: .nan
